@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-poppins);
  --font-body: var(--font-inter);
  --font-regular: var(--font-regular);

  --font-weight-main: 700;
  --font-weight-regular: 400;
  
  --color-cyan: #10FFE2;
  --color-pink: #FD14BB;
  --color-lime: #8AFF00;
  --color-purple: #C401DB;
  --color-blue: #6715FF;

  --color-dark-cyan: #12D2BB;
  --color-dark-pink: #C71494;
  --color-dark-lime: #80D817;
  --color-dark-purple: #9214A0;
  --color-dark-blue: #4A16AA;
}

.font-main {
  font-weight: 700 !important;
}

.font-regular {
  font-weight: 400 !important;
}

.font-italic {
  font-family: 'Poppins', sans-serif; 
  font-weight: 400 !important;
  font-style: italic; 
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  transition-timing-function: linear !important;
  position: relative;
}

.swiper-pagination-bullet {
  background: #4F46E5;
}

.swiper-pagination-bullet-active {
  background: #4F46E5 !important;
}

@keyframes bubble {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.5);
  }
  60% {
    opacity: 1;
    transform: translateY(-6px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-bubble {
  animation: bubble 0.35s ease-out forwards;
}
